<!DOCTYPE html>
<html>
  <head>
    <title>{{ product.name }} - Single Item</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='TemplateStyling/singleItem.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>{{ product.name }}</h1>
      <div class="product-info">
        <img
          src="{{ product.img }}"
          alt="{{ product.name }}"
          width="400"
          height="400"
        />
        <div class="details">
          <p class="price">Price: ${{ product.price }}</p>
          <form action="/add_to_checkout" method="post">
            <input type="hidden" name="product_id" value="{{ product.id }}" />
            <input type="submit" value="Add to Cart" class="add-to-cart-btn" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
